# DBT build artifacts
target/
dbt_packages/
logs/

# Metabase local DBs & plugins
metabase.db.mv.db
metabase.db.trace.db
plugins/

# DuckDB files
*.duckdb
*.db
*.db.wal

# Python cache
__pycache__/
*.pyc

# OS & editor junk
.DS_Store
.idea/
.vscode/
